{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": [
        "eslint:recommended",
        "airbnb/hooks",
        "airbnb-typescript",
        "plugin:react/recommended",
        "plugin:react/jsx-runtime",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:import/recommended",
        "plugin:prettier/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": "latest",
        "sourceType": "module",
        "tsconfigRootDir": ".",
        "project": [
            "./tsconfig.json"
        ]
    },
    "plugins": [
        "react",
        "prettier",
        "@typescript-eslint"
    ],
    "settings": {
        "import/resolver": {
            "typescript": {
                "project": "./tsconfig.json"
            }
        },
        "react": {
            "version": "18.x"
        }
    },
    "rules": {
        "linebreak-style": "off",
        "@typescript-eslint/no-explicit-any": "warn",
        "@typescript-eslint/ban-types": [
            "error",
            {
                "extendDefaults": true,
                "types": {
                    "{}": false
                }
            }
        ],
        "react-hooks/exhaustive-deps": "off",
        "object-shorthand": "error",
        "no-console": "warn",
        "import/no-extraneous-dependencies": "off",
        "prettier/prettier": [
            "error",
            {
                "useTabs": false,
                "endOfLine": "auto"
            }
        ]
    }
}