$bg-green: #EFFAFB;
$list-item-bg: #FFFFFF;
$list-item-border-left: #7DB0B3;
$list-item-content-title: #A8C8C6;
$list-item-content-title: #64BABB;
$list-item-content-body: #000;
$list-item-content-footer: #B2B3B2;
$new-tag-bg: #64BABB;
$new-tag-color: #FFFFFF;
$featured-tag-bg: #404443;
$featured-tag-color: #FFFFFF;