@use '@/styles/abstracts' as *;

.job-list__wrapper {
  width: 100%;
  margin-top: 3rem;
}

.job-list__item {
  display: flex;
  padding: 1.5rem;
  box-shadow: $bs-1;
  margin-bottom: 3rem;
  flex-direction: column;
  background-color: $white;
  border-radius: $border-radius-sm;

  @include small {
    margin-bottom: 2rem;
    align-items: center;
    flex-direction: row;
    padding: 1.5rem 2.5rem;
  }
}

.featured-item {
  border-left: 5px solid $primary-green-light;
}

.job-list__item-img {
  left: 4.5rem;
  margin: -3rem;
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  border-radius: $border-radius-round;

  @include small {
    left: 0;
    margin: 0;
    width: 6rem;
    height: 6rem;
    position: relative;
  }
}

.job-list__item-content {
  margin-top: 1rem;

  @include small {
    margin-top: 0;
    min-width: 25rem;
    margin-left: 2rem;
  }
}

.item-title {
  display: flex;
  align-items: center;
  color: $primary-green-main;

  & .item-company-name {
    margin: 0;
    font-weight: 600;
  }

  & .badge {
    font-weight: 600;
    font-size: 0.9rem;
    margin-left: 1rem;
    padding: 0.2rem 0.5rem;
    border-radius: $border-radius-xl;
  }

  & .badge-new {
    color: $white;
    background-color: $primary-green-main;
  }

  & .badge-featured {
    color: $white;
    background-color: $primary-gray-dark;
  }
}

.item-body {
  color: $black;
  font-size: 1rem;
  font-weight: 800;
  margin-top: 0.5rem;
  margin-bottom: 1.2rem;

  @include small {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
}

.item-footer {
  display: flex;
  font-weight: 600;
  padding-bottom: 1rem;
  color: $primary-gray-main;
  border-bottom: 1px solid $primary-gray-main;

  li {
    margin-right: 1rem;
  }

  @include small {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.job-list__item-tags {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;

  button {
    border: none;
    padding: 0.5rem;
    font-weight: 600;
    color: $primary-green-main;
    outline-color: $green-light-1;
    border-radius: $border-radius-sm;
    background-color: $green-light-1;

    &:hover {
      color: $white;
      background-color: $secondary-green-dark;
    }
  }

  @include small {
    margin-top: 0;
    margin-left: auto;
    align-items: center;
  }
}
