@use '@/styles/abstracts' as *;

.tags-bar__wrapper {
	display: flex;
	min-height: 5rem;
	box-shadow: $bs-1;
	align-items: center;
	padding: 1rem 1.5rem;
	background-color: $white;
	border-radius: $border-radius-sm;

	@include small {
		height: 5rem;
		padding: 1.5rem 3rem;
	}
}

.tags-bar__placeholder {
	color: $primary-gray-main;
}

.tags-bar__container {
	width: 100%;
	display: flex;
	align-items: center;
}

.tags-list {
	gap: 1rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	&__item {
		border: none;
		display: flex;
		font-weight: 600;
		color: $primary-green-main;
		outline-color: $green-light-1;
		border-radius: $border-radius-sm;
	}
}

.tag-name {
	padding: 0.5rem;
	padding-right: 0.8rem;
	background-color: $green-light-1;
}

.remove-btn {
	display: flex;
	cursor: pointer;
	align-items: center;
	padding: 0.3rem 0.5rem;
	background-color: $primary-green-main;
	border-top-right-radius: $border-radius-sm;
	border-bottom-right-radius: $border-radius-sm;

	&:hover {
		background-color: $green-dark-2;
	}
}

.clear-btn {
	border: none;
	font-weight: 600;
	margin-left: auto;
	color: $primary-gray-main;
	background-color: transparent;

	&:hover {
		color: $primary-green-main;
		text-decoration: underline;
	}
}
